In [1]:
import sqlite3

In [2]:
def create_table():
    conn = sqlite3.connect('books.db')
    sql="""CREATE TABLE IF NOT EXISTS books
    (title TEXT,
    published_date TEXT,
    publisher TEXT,
    page INTEGER,
    recommend INTEGER)"""
    cur = conn.cursor()
    cur.execute(sql)
    conn.commit()
    conn.close()
create_table()

In [3]:
def insert_book1():
    conn=sqlite3.connect("books.db")
    cursor=conn.cursor()
    sql="insert into books values('Java','2019-05-20','길벗',500,10)"
    cursor.execute(sql)
    conn.commit()
    conn.close()
insert_book1()

In [4]:
def select_all():
    conn=sqlite3.connect("books.db")
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    books=cursor.fetchall() #실행된 sql쿼리의 결과를 모두 가져오는 메서드
    #한 행의 데이터를 튜플로 가져오며, 전체 결과는 list에 저장
    for book in books:
        print(book)
    conn.close()
    
select_all()

('Java', '2019-05-20', '길벗', 500, 10)
('python Programming', '2020-01-01', '한빛', 400, 5)
('머신러닝', '2021-01-01', '냥냥', 200, 3)
('IOT', '2022-01-01', '펀치', 300, 7)
('React', '2023-01-01', '야옹', 350, 9)
('Java', '2019-05-20', '길벗', 500, 10)

In [5]:
def insert_book2(data):
    conn=sqlite3.connect("books.db")
    cursor=conn.cursor()
    sql="insert into books values(?,?,?,?,?)" 
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

data = ('python Programming','2020-01-01','한빛',400,5)
insert_book2(data)
select_all()

('Java', '2019-05-20', '길벗', 500, 10)
('python Programming', '2020-01-01', '한빛', 400, 5)
('머신러닝', '2021-01-01', '냥냥', 200, 3)
('IOT', '2022-01-01', '펀치', 300, 7)
('React', '2023-01-01', '야옹', 350, 9)
('Java', '2019-05-20', '길벗', 500, 10)
('python Programming', '2020-01-01', '한빛', 400, 5)

In [6]:
def many_insert_book(datas):
    conn=sqlite3.connect("books.db")
    cursor=conn.cursor()
    sql="insert into books values(?,?,?,?,?)" 
    cursor.executemany(sql,datas) #여러데이터를 한번에 삽입
    #for data in datas:
    #   cur.execute(sql,data) 
    conn.commit()
    conn.close()
datas=[('머신러닝','2021-01-01','냥냥',200,3),
       ('IOT','2022-01-01','펀치',300,7),
       ('React','2023-01-01','야옹',350,9)]
many_insert_book(datas)
select_all()

('Java', '2019-05-20', '길벗', 500, 10)
('python Programming', '2020-01-01', '한빛', 400, 5)
('머신러닝', '2021-01-01', '냥냥', 200, 3)
('IOT', '2022-01-01', '펀치', 300, 7)
('React', '2023-01-01', '야옹', 350, 9)
('Java', '2019-05-20', '길벗', 500, 10)
('python Programming', '2020-01-01', '한빛', 400, 5)
('머신러닝', '2021-01-01', '냥냥', 200, 3)
('IOT', '2022-01-01', '펀치', 300, 7)
('React', '2023-01-01', '야옹', 350, 9)

In [7]:
def one_book(title):
    conn=sqlite3.connect("books.db")
    cursor=conn.cursor()
    cursor.execute("select * from books where title=?", (title,))
    book=cursor.fetchone()
    print(book)
    conn.close()

one_book('머신러닝')

('머신러닝', '2021-01-01', '냥냥', 200, 3)

In [8]:
def some_book(number):
    conn=sqlite3.connect("books.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    book=cursor.fetchmany(number)
    print(book)
    conn.close()
some_book(2)

[('Java', '2019-05-20', '길벗', 500, 10), ('python Programming', '2020-01-01', '한빛', 400, 5)]

In [9]:
def serch_book(page):
    conn=sqlite3.connect("books.db")
    cursor=conn.cursor()
    cursor.execute("select * from books WHERE page>=? order by page desc",(page,))
    books=cursor.fetchall()
    for book in books:
        print(book)
    conn.close()

serch_book(300)

('Java', '2019-05-20', '길벗', 500, 10)
('Java', '2019-05-20', '길벗', 500, 10)
('python Programming', '2020-01-01', '한빛', 400, 5)
('python Programming', '2020-01-01', '한빛', 400, 5)
('React', '2023-01-01', '야옹', 350, 9)
('React', '2023-01-01', '야옹', 350, 9)
('IOT', '2022-01-01', '펀치', 300, 7)
('IOT', '2022-01-01', '펀치', 300, 7)

In [33]:
def update_book(datas):
    conn=sqlite3.connect("books.db")
    cursor=conn.cursor()
    sql = "UPDATE books SET page=?, recommend=? WHERE title=? "
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()

datas=[(100,1,'Java'),(200,2,'IOT')]
update_book(datas)

In [34]:
select_all()

('Java', '2019-05-20', '길벗', 100, 1)
('python Programming', '2020-01-01', '한빛', 400, 5)
('머신러닝', '2021-01-01', '냥냥', 200, 3)
('IOT', '2022-01-01', '펀치', 200, 2)
('React', '2023-01-01', '야옹', 300, 8)
('Java', '2019-05-20', '길벗', 100, 1)
('python Programming', '2020-01-01', '한빛', 400, 5)
('머신러닝', '2021-01-01', '냥냥', 200, 3)
('IOT', '2022-01-01', '펀치', 200, 2)
('React', '2023-01-01', '야옹', 300, 8)

In [38]:
def delete_book(data):
    conn=sqlite3.connect("books.db")
    cursor=conn.cursor()
    sql = "DELETE FROM books WHERE title=?"
    cursor.execute(sql,(data,))
    conn.commit()
    conn.close()
delete_book('Java')
select_all()

('python Programming', '2020-01-01', '한빛', 400, 5)
('머신러닝', '2021-01-01', '냥냥', 200, 3)
('IOT', '2022-01-01', '펀치', 200, 2)
('React', '2023-01-01', '야옹', 300, 8)
('python Programming', '2020-01-01', '한빛', 400, 5)
('머신러닝', '2021-01-01', '냥냥', 200, 3)
('IOT', '2022-01-01', '펀치', 200, 2)
('React', '2023-01-01', '야옹', 300, 8)

In [43]:
def delete_books(datas):
    conn=sqlite3.connect("books.db")
    cur=conn.cursor()
    sql="DELETE FROM books WHERE title=?"
    cur.executemany(sql,datas)
    conn.commit()
    conn.close()
datas=[('IOT',),('React',)] #튜플로 만들 땐 콤마 무조건 입력
delete_books(datas)
select_all()

('python Programming', '2020-01-01', '한빛', 400, 5)
('머신러닝', '2021-01-01', '냥냥', 200, 3)
('python Programming', '2020-01-01', '한빛', 400, 5)
('머신러닝', '2021-01-01', '냥냥', 200, 3)

In [56]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\it\anaconda3\lib\site-packages (1.1.1)

In [57]:
import pymysql

In [59]:
conn=pymysql.connect(host='localhost',
                     user='yubeen',
                     password='1234',
                     db='pydb',
                     charset='utf8')

In [60]:
print(pymysql)

<module 'pymysql' from 'c:\\Users\\it\\anaconda3\\Lib\\site-packages\\pymysql\\__init__.py'>

In [61]:
cursor=conn.cursor()
sql="SELECT * FROM book"
cursor.execute(sql)
books=cursor.fetchall()
for book in books:
    print(book)
conn.close()

(1, 'Java', '한빛', '200', '박경미')
(2, 'python', '길벗', '300', '이준목')

In [62]:
def insert_data1(data):
    conn = pymysql.connect(host='localhost',
                           user='yubeen',
                           password='1234',
                           db='pydb',
                           charset='utf8')
    cursor=conn.cursor()
    sql="INSERT INTO book(title, pub, pages, author) VALUES(%s, %s, %s, %s)"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()
data=('phthon','한빛',500,'김기영')
insert_data1(data)

In [63]:
def select_all():
    conn=pymysql.connect(host='localhost',
                           user='yubeen',
                           password='1234',
                           db='pydb',
                           charset='utf8')
    cursor=conn.cursor()
    sql="SELECT * FROM book"
    cursor.execute(sql)
    books=cursor.fetchall()
    for book in books:
        print(book)
    conn.close()
select_all()

(1, 'Java', '한빛', '200', '박경미')
(2, 'python', '길벗', '300', '이준목')
(3, 'phthon', '한빛', '500', '김기영')

In [65]:
def insert_many(datas):
    conn=pymysql.connect(host='localhost',
                           user='yubeen',
                           password='1234',
                           db='pydb',
                           charset='utf8')
    cursor=conn.cursor()
    sql="INSERT INTO book(title,pub,pages,author) VALUES(%s,%s,%s,%s)"
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()

datas=[('python3','한빛',300,'조유빈'),
       ('python4','한빛',400,'이동근')]
insert_many(datas)
select_all()

(1, 'Java', '한빛', '200', '박경미')
(2, 'python', '길벗', '300', '이준목')
(3, 'phthon', '한빛', '500', '김기영')
(4, 'python3', '한빛', '300', '조유빈')
(5, 'python4', '한빛', '400', '이동근')

In [74]:
! pip install oracledb

Collecting oracledb
  Downloading oracledb-3.0.0-cp312-cp312-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: cryptography>=3.2.1 in c:\users\it\anaconda3\lib\site-packages (from oracledb) (43.0.0)
Requirement already satisfied: cffi>=1.12 in c:\users\it\anaconda3\lib\site-packages (from cryptography>=3.2.1->oracledb) (1.17.1)
Requirement already satisfied: pycparser in c:\users\it\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)
Downloading oracledb-3.0.0-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 38.2 MB/s eta 0:00:00
Installing collected packages: oracledb
Successfully installed oracledb-3.0.0

In [75]:
import oracledb

conn = oracledb.connect('scott/tiger@localhost:1521/xe')

In [76]:
def read_data():
    conn=oracledb.connect('scott/tiger@localhost:1521/xe')
    cursor=conn.cursor()
    sql="SELECT * FROM emp"
    cursor.execute(sql)
    rows=cursor.fetchall()
    for row in rows:
        print(row)
    conn.close()

read_data()

(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10)
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30)
(7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)