In [ ]:
# {} 중괄호로 쌈
# 요소는 키와 밸류로 나뉘어서, key:value의 형태로 작성해야 함
dic={'name': "홍길동",'phone': '010-1234-5678','birth':'1118'}

In [ ]:
# 딕셔너리 요소 불러오는 법
print(dic)
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

{'name': '홍길동', 'phone': '010-1234-5678', 'birth': '1118'}
홍길동
010-1234-5678
1118

In [ ]:
# 딕셔너리 요소 삽입하는 법
dic['gender']='남자'
dic['age']=20
print(dic)

{'name': '홍길동', 'phone': '010-1234-5678', 'birth': '1118', 'gender': '남자', 'age': 20}

In [ ]:
# 딕셔너리 요소 삭제하는 법
del dic['age']
print(dic)

{'name': '홍길동', 'phone': '010-1234-5678', 'birth': '1118', 'gender': '남자'}

In [6]:
print(dic.keys())
print(dic.values())

dict_keys(['name', 'phone', 'birth', 'gender'])
dict_values(['홍길동', '010-1234-5678', '1118', '남자'])

In [7]:
dic['name']='김길동'
print(dic)

{'name': '김길동', 'phone': '010-1234-5678', 'birth': '1118', 'gender': '남자'}

In [ ]:
d1={1:"abc",1:"bbc"} # 키가 중복되면 마지막 값으로 덮어씌워짐
print(d1)

{1: 'bbc'}

In [ ]:
d2={1:"h1",2:"hi"} # 키가 중복되지 않으면 그대로 출력
d2

{1: 'h1', 2: 'hi'}

In [ ]:
result=dic.items() # 키와 밸류를 튜플로 묶어서 출력
print(result)

dict_items([('name', '김길동'), ('phone', '010-1234-5678'), ('birth', '1118'), ('gender', '남자')])

In [ ]:
for i in result: 
    print(i)

('name', '김길동')
('phone', '010-1234-5678')
('birth', '1118')
('gender', '남자')

In [16]:
for k,v in result:
    print(k,':',v)

name : 김길동
phone : 010-1234-5678
birth : 1118
gender : 남자

In [17]:
t=(1,2,3)
a,b,c=t
print(a,b,c)

1 2 3

변수가 1개면 튜플 전체를 i에 저장하고
변수가 2개면 튜플에 key값이랑 value랑 나눠야한다.

In [ ]:
dic.keys() # 키만 출력
dic.values() # 밸류만 출력
dic.items() # 키와 밸류를 튜플로 묶어서 출력

dic['name']
dic['age']=20 # 딕셔너리에 요소 추가
del dic['age'] # 딕셔너리에 요소 삭제
dic.clear() # 딕셔너리 모두 삭제

dict_items([('name', '김길동'), ('phone', '010-1234-5678'), ('birth', '1118'), ('gender', '남자')])

1. 학생 5명의 이름과 점수로 dict를 생성하라
2. dict의 key를 모두 추출하라
3. dict의 value를 모두 추출하라
4. 본인의 이름과 점수를 사용하여 새로운 데이터를 추가하라
5. 딕셔너리의 모든 item을 key와 value로 쌍의 tuple을 생성하라
6. for문을 이용하여 key, value형태로 모든 item을 출력하라
6. 본인의 이름으로 추가된 데이터를 삭제하라.

In [25]:
scores={'정현민':85,'조유빈':80,'이준목':75,'김태영':90,'박영광':95} # 딕셔너리 생성
print(scores)   # 딕셔너리 출력
scores['박경미']=65 
print(scores.keys())
print(scores.values())
result=scores.items()
print(result)
for k,v in result:
    print(k,':',v)
del scores['박경미']
print(scores)

{'정현민': 85, '조유빈': 80, '이준목': 75, '김태영': 90, '박영광': 95}
dict_keys(['정현민', '조유빈', '이준목', '김태영', '박영광', '박경미'])
dict_values([85, 80, 75, 90, 95, 65])
dict_items([('정현민', 85), ('조유빈', 80), ('이준목', 75), ('김태영', 90), ('박영광', 95), ('박경미', 65)])
정현민 : 85
조유빈 : 80
이준목 : 75
김태영 : 90
박영광 : 95
박경미 : 65
{'정현민': 85, '조유빈': 80, '이준목': 75, '김태영': 90, '박영광': 95}

In [27]:
scores['김태영']
scores['박영광']
scores.get('정현민')

85