In [1]:
a=[1,2,3]
a

[1, 2, 3]

In [3]:
print(a[0])
print(a[1])
print(a[0]+a[2])
a[0]=100
a

1
2
4

[100, 2, 3]

In [5]:
print(a[-1]) #맨 마지막 요소
b=[1,2,3,4,5]
print(b[-1])

3
5

In [8]:
a=[1,2,3,"가나다",[10,20,30]]
print(a[0])
print(a[1])
print(a[3])
print(a[4])
print(a[4][0])

1
2
가나다
[10, 20, 30]
10

In [9]:
a[4]="python"
print(a)

[1, 2, 3, '가나다', 'python']

In [14]:
a=[1,2,3,4,5]
print(a[0:3])
print(a[::2]) #2칸씩 띄어서 출력
print(a[::-1]) #역순으로 출력
print(a[2:])

[1, 2, 3]
[1, 3, 5]
[5, 4, 3, 2, 1]
[3, 4, 5]

In [25]:
b=[10,20,30,40,50]
print(a*3) #리스트 반복
print(a+b)
print(len(a)) #리스트 길이
str1="abcd"
arr=list(str1) #문자열을 리스트로 변환
print(arr)
str2='-'.join(arr) #리스트를 문자열로 변환
print(str2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]
5
['a', 'b', 'c', 'd']
a-b-c-d

In [28]:
del a[3:] #리스트 요소 삭제 (3부터 끝까지)
print(a)
del a[2] #리스트 요소 삭제 (0,1,(2번째))
print(a)

[1, 2, 3]
[1, 2]

In [32]:
a.append(10) #리스트에 요소 추가
print(a)
a.append(20)
print(a)
a.append([100,200]) #리스트에 리스트 추가 (리스트 안에 리스트)
print(a)
a.extend([300,400]) #리스트에 리스트 추가 (리스트 안에 리스트가 아닌 요소로 추가)
print(a)
a.insert(1,500) #리스트에 요소 추가 (1번째에 500 추가)
print(a)

[1, 2, 10, 20, 10, 20, [100, 200], 10, 20, [100, 200], 300, 400, 10]
[1, 2, 10, 20, 10, 20, [100, 200], 10, 20, [100, 200], 300, 400, 10, 20]
[1, 2, 10, 20, 10, 20, [100, 200], 10, 20, [100, 200], 300, 400, 10, 20, [100, 200]]
[1, 2, 10, 20, 10, 20, [100, 200], 10, 20, [100, 200], 300, 400, 10, 20, [100, 200], 300, 400]
[1, 500, 2, 10, 20, 10, 20, [100, 200], 10, 20, [100, 200], 300, 400, 10, 20, [100, 200], 300, 400]

In [51]:
a.remove(300) #리스트 요소 삭제 (1 (값)삭제)
print(a)

[500, 10, 20, [100, 200], 10, 20, [100, 200], 400, 10, 20, [100, 200], 300, 400]

In [46]:
del a[1] #리스트 인덱스 요소 삭제 (1번째 요소 삭제)
print(a)

[500, 10, 20, [100, 200], 10, 20, [100, 200], 300, 400, 10, 20, [100, 200], 300, 400]