In [142]:
import mod1
print(mod1.add(20,10))
print(mod1.sub(10,5))

30
5

In [143]:
#import importlib 
#import mod1
#importlib.reload(mod1) #다시 불러오기

In [144]:
from mod1 import * #mod안에있는 모든것 / #add,sub
print(add(10,20))
print(sub(10,5))

30
5

In [145]:
import importlib 
import mod1
importlib.reload(mod1)

print(mod1.PI)
a=mod1.Math()
print(a.solv(5))

print(mod1.add(5,6))
print(mod1.sub(5,2))
print(mod1.mul(3,4)) #mul함수는 (새로추가)정의되어있지 않아서 오류가 난다.

3.141592
78.5398
11
3
12

In [146]:
import mod2
mod2.show() #mod2.py에 있는 show함수를 불러온다.

3.141592
<function add at 0x00000273099DB380>

In [147]:
import mymod.mod3

print(mymod.mod3.add(5,5))
a=mymod.mod3.Math()
a.solv(5)

10

78.5398

In [148]:
from mymod import mod3
print(mod3.PI)
print(mod3.add(5,5))
a=mod3.Math()
a.solv(2)

3.141592
10

12.566368

In [149]:
import game.sound.echo
game.sound.echo.echo_test()

echo

In [150]:
from game.sound import echo
echo.echo_test()

echo

In [151]:
from game.sound.echo import echo_test
echo_test()

echo

In [152]:
import importlib
import game
importlib.reload(game)
print(game.VERSION)
game.print_version_info()

Initializing game...
3.12
The version of this game is 3.12

In [153]:
from game.graphic.render import render_test
render_test()

render
echo

In [154]:
try:
    4/0
except ZeroDivisionError as e:
    print(e)
    print("0으로 나누었습니다.")

division by zero
0으로 나누었습니다.

In [155]:
try:
    f=open("foo.txt")
    data=f.read()
except:
    pass

In [156]:
try:
    a=[1,2]
    print(a[3])
    4/0
except ZeroDivisionError as e:
    print(e)
except IndexError as e:
    print(e)

list index out of range

In [157]:
try:
    a=[1,2]
    print(a[3])
    4/0
except (ZeroDivisionError,IndexError) as e:
    print(e)

list index out of range

In [158]:
try:
    age=int(input("나이를 입력하세요:"))
except:
    print("입력이 정확하지 않습니다.")
else:
    if age<=18:
        print("미성년자는 출입금지입니다.")
    else:
        print("환영합니다.")

미성년자는 출입금지입니다.

In [159]:
a=[1,2,3,0]
print(all(a)) #모두 참이면 참  
print(any(a)) #하나라도 참이면 참
print(chr(99)) #아스키코드값을 문자로 변환
print(dir(a)) #객체가 자체적으로 가지고 있는 변수나 함수를 보여준다.
print(divmod(10,3)) #몫과 나머지를 튜플형태로 반환 / 결과(몫,나머지)

b=["body","foo","bar","python"]
for i,v in enumerate(b): #인덱스와 값을 함께 출력
    print(i,v)

print(eval("1+2"))
print(eval("'hi'+'a'"))
print(eval('divmod(10,3)'))

False
True
c
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
(3, 1)
0 body
1 foo
2 bar
3 python
3
hia
(3, 1)

In [160]:
def positive(l):
    result=[]
    for i in l:
        if i>0:
            result.append(i)
    return result

positive([1,-3,2,0,-5,9])

[1, 2, 9]

In [161]:
def positive(x):
    return x>0

list(filter(positive,[1,-3,2,0,-5,9]))

[1, 2, 9]

In [162]:
list(filter(lambda x:x>0,[1,-3,2,0,-5,9]))

[1, 2, 9]

In [163]:
list(filter(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [164]:
hex(123)

'0x7b'

In [165]:
a=3
print(id(3))
print(id(a))

140711525820920
140711525820920

In [166]:
a="11"
b=int(a)
print(b,type(b),type(a))

c=int(a,2)
print(c)
print(int(a,8))
print(int(a,16)) #16진수

11 <class 'int'> <class 'str'>
3
9
17

In [167]:
class Person:
    pass

a=Person()
isinstance(a,Person)

b=10
isinstance(b,Person)

False

In [168]:
def two_times(x):
    return x*2

a=[1,2,3,4]
print(list(map(two_times,a)))

print(list(map(lambda x:x*2,a)))

[2, 4, 6, 8]
[2, 4, 6, 8]

In [169]:
max("python")
max([1,2,3])
min("python")
min([1,2,3])

1

In [170]:
a=list(range(0,100,5)) #0부터 100까지 5씩 증가
a

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [171]:
b=list(range(10,0,-1)) #10부터 1까지 -1씩 감소
b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [172]:
round(589710.568,3)

589710.568

In [173]:
a=[2,7,3,5,1]
sorted(a)

[1, 2, 3, 5, 7]

In [174]:
sorted("python") #알파벳 순서대로 정렬

['h', 'n', 'o', 'p', 't', 'y']

In [175]:
a=list(range(1,10))
sum(a)

45

In [176]:
a=tuple("python") 
a

('p', 'y', 't', 'h', 'o', 'n')

In [177]:
a=list(range(1,10))
b=list(range(10,100,10))
len(b)
list(zip(a,b))

[(1, 10),
 (2, 20),
 (3, 30),
 (4, 40),
 (5, 50),
 (6, 60),
 (7, 70),
 (8, 80),
 (9, 90)]

In [178]:
import datetime
day1=datetime.date(2025,5,24)
day2=datetime.date(2025,2,24) #시간까지 출력
print(day1)
print(day2)
diff=day2-day1
print(diff.days) #날짜만 출력
print(day2.weekday()) #요일 출력 / 0은 월요일 ~ 6은 일요일
print(day2.isoweekday()) #요일 출력 / 1은 월요일 ~ 7은 일요일

2025-05-24
2025-02-24
-89
0
1

In [179]:
import time
time.time() #1970년 1월 1일 0시 0분 0초부터 현재까지의 시간을 초단위로 반환

1740380630.0504491

In [180]:
print(time.asctime(time.localtime(time.time()))) #현재시간을 보기좋게 출력
print(time.ctime()) #현재시간을 보기좋게 출력

Mon Feb 24 16:03:50 2025
Mon Feb 24 16:03:50 2025

In [181]:
time.strftime("포맷",time.localtime(time.time()))
print(time.strftime("%x",time.localtime(time.time()))) #날짜 출력
print(time.strftime("%c",time.localtime(time.time()))) #시간 출력

02/24/25
Mon Feb 24 16:03:50 2025

In [182]:
for i in range(0,10,1):
    print(i)
    time.sleep(1) #1초마다 출력

0
1
2
3
4
5
6
7
8
9

In [183]:
import random
int(random.random()*100)+1 #0부터 10까지 랜덤숫자

1

In [184]:
aa=list(range(1,100,2))
a=random.sample(aa,10) #aa에서 5개를 뽑아서 출력
a

[11, 77, 7, 79, 71, 9, 75, 53, 89, 35]

In [185]:
print(int(random.random()*10)+1)
print(random.randint(50,100))   #50부터 100까지 랜덤숫자

7
92

In [186]:
data=[1,2,3,4,5]
random.sample(data,len(data)) #data의 순서를 랜덤으로 바꿈

[3, 5, 1, 4, 2]

In [187]:
import itertools
students=['한민서','황지민','이영철','이광수','김승민']
snacks=['사탕','초콜릿','젤리']
result=itertools.zip_longest(students,snacks,fillvalue="새우깡")
print(list(result))

[('한민서', '사탕'), ('황지민', '초콜릿'), ('이영철', '젤리'), ('이광수', '새우깡'), ('김승민', '새우깡')]

In [188]:
a=[1,2,3,4,5]
b=list(itertools.permutations(a,2)) #순열
print(len(b))
print(b)

20
[(1, 2), (1, 3), (1, 4), (1, 5), (2, 1), (2, 3), (2, 4), (2, 5), (3, 1), (3, 2), (3, 4), (3, 5), (4, 1), (4, 2), (4, 3), (4, 5), (5, 1), (5, 2), (5, 3), (5, 4)]

In [189]:
it=list(itertools.combinations(range(1,46),6))
print(len(it))
#print(it)

8145060

In [190]:
students=[('jane',22,'A'),
          ('dave',32,'B'),
          ('sally',17,'B')]

from operator import itemgetter
result=sorted(students,key=itemgetter(2)) #2번째 인덱스로 정렬
print(result)

[('jane', 22, 'A'), ('dave', 32, 'B'), ('sally', 17, 'B')]

In [195]:
students=[
    {"name":"jane","age":22,"grade":"A"},
    {"name":"dave","age":32,"grade":"B"},
    {"name":"sally","age":17,"grade":"B"}
]
result=sorted(students,key=itemgetter("grade")) 
print(result)

[{'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'dave', 'age': 32, 'grade': 'B'}, {'name': 'sally', 'age': 17, 'grade': 'B'}]

In [192]:
import glob

glob.glob("data/test*")

['data\\test.txt', 'data\\test02.txt', 'data\\test03.txt']

In [199]:
import pickle

f=open("data/test03.txt",'wb')
pickle.dump(students,f)
#for data in students:
#   print(data)
#   pickle.dump(data,f)
f.close()

In [200]:
f=open("data/test03.txt","rb")
data=pickle.load(f)
print(data)

[{'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'dave', 'age': 32, 'grade': 'B'}, {'name': 'sally', 'age': 17, 'grade': 'B'}]

In [ ]:
import zipfile

with zipfile.ZipFile("mytest.zip","w") as myzip: #압축파일 생성
    myzip.write("data/foo.txt")
    myzip.write("data/test.txt")

In [ ]:
with zipfile.ZipFile("data/mytest.zip") as myzip: #압축풀기
    myzip.extractall("data/aa")

In [ ]:
import json 

with open("data/myinfo.json") as f:
    data=json.load(f) #json파일을 읽어서 딕셔너리로 변환
    print(data)

{'name': '홍길동', 'birth': '0525', 'age': 25}

In [207]:
data={"name":"kim","age":20,"birth":"0522"}
with open("data/myinfo2.json",'w') as f:
    json.dump(data,f) #딕셔너리를 json파일로 변환

In [ ]:
with open("data/students.json",'w') as f:  #리스트를 json파일로 변환
    json.dump(students,f)

In [ ]:
json_data=json.dumps(students)  
json_data

'[{"name": "jane", "age": 22, "grade": "A"}, {"name": "dave", "age": 32, "grade": "B"}, {"name": "sally", "age": 17, "grade": "B"}]'

In [ ]:
kk=json.loads(json_data) 
print(kk)

[{'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'dave', 'age': 32, 'grade': 'B'}, {'name': 'sally', 'age': 17, 'grade': 'B'}]

In [213]:
kk[0]['name']

'jane'